.home__hero-section {
    color: #fff;
    padding: 80px 0;
}

.home__hero-row {
    align-items: center;

}

.row {
    display: flex;
    margin-right: -5px;
    margin-bottom: -15px;
    margin-left: 120px;
    flex-wrap: wrap;
    align-content: stretch;
}

.col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
}

.home__hero-text-wrapper {
    max-width: 500px;
    padding-top: 0;
    padding-bottom: 60px;
}

.heading {
    margin-bottom: 24px;
    font-size: 43px;
    line-height: 1;
    font-weight: 600;
    color: #fdf2d1;
}

.dark {
    color: #562F4A;
}

.darkBg {
    background-color: #562F4A;
}

.home__hero-subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 24px;
    color: rgb(218, 188, 188);
}

.sub2{
    color: #965482;
}


.home__hero-img-wrapper {
    max-width: 450px;
}

.home__hero-img-wrapper img {
    border-radius: 50%;
    filter: brightness(80%);
}


.home__hero-img {
    max-width: 80%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    padding-right: 0;
}


img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.img2 img{
        filter: brightness(95%);
        border-radius: 50%;
}

@media screen and (max-width: 991px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
         .home__hero-img-wrapper {
             height: auto;
             width: 100%;
         }
}

@media screen and (max-width: 1000px) {
    .container {
            padding-right: 30px;
            padding-left: 30px;
        }
    .home__hero-text-wrapper {
        padding-bottom: 65px;
    }
        .home__hero-img-wrapper {
            height: auto;
                width: 100%;
        }

    .row {
        margin-left: -30px;
    }
        .home__hero-img-wrapper {
            width: 400px;
        }
    
        .home__hero-img-wrapper img {
            border-radius: 50%;
        }

    .col {
        max-width: 100%;
        flex-basis: 100%;
    }
}